.room-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  padding: 40px 0px;
}
.room-container .card-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
}
.room-container .card-container .status-and-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 10px;
}
.room-container .card-container .status-and-card .main-content-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room-container
  .card-container
  .status-and-card
  .main-content-container
  .header {
  font-size: 25px;
  font-family: cursive;
  color: #e70b53;
}
.room-container
  .card-container
  .status-and-card
  .main-content-container
  .paisa
  h4 {
  color: #e70b53;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 500;
}
.room-container
  .card-container
  .status-and-card
  .main-content-container
  .footer {
  & h3 {
    border: 1px solid #e70b53;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #e70b53;
    font-size: 25px;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
  }
}
.room-container .card-container .big-card {
  box-shadow: 2px 2px 2px 2px rgb(201, 198, 198);
  padding: 20px 5px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 30px;
}
.my-bookings-stay-interval {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 40%;
}
.my-bookings-stay-interval .small-cards {
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgb(201, 198, 198);
  width: 100%;
  padding: 20px 5px;
  border-radius: 5px;
}
.my-bookings-stay-interval .from-to-dates {
  margin: 20px 0px 10px 0px;
  font-size: 22px;
  color: white;
  background-color: #e70b53;
}
.my-bookings-stay-interval .payment {
  margin: 10px 0px;
  background-color: greenyellow;
  font-size: 25px;
}
.my-bookings-stay-interval .review-btn {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #e70b53;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px 0px 20px 0px;
  cursor: pointer;

  & ion-icon {
    color: white;
    font-size: 35px;
  }

  & button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
}

.room-container .review-input-container {
  margin: 10px;
  width: 50%;
  height: fit-content;

  & textarea {
    width: 100%;
    height: 50vh;
    border: 1px solid #e70b53;
    border-radius: 20px;
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    box-sizing: border-box;
  }

  & textarea:focus {
    border: 1px solid #e70b53;
  }

  & button {
    background-color: #e70b53;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  .main-content-container {
    justify-content: center;
    align-items: center;

    & .header {
      text-align: center;
    }
  }
  .my-bookings-stay-interval {
    align-items: center;
    width: 100%;
  }
  .my-bookings-stay-interval .small-cards {
    width: 82%;
  }
  .room-container .card-container {
    width: 85%;
  }
  .room-container .card-container .status-and-card {
    flex-direction: column;
  }

  .room-container .review-input-container {
    width: 85%;
  }
}
