.singlerooms-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
.singlerooms-container .mainsingle-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}
.singlerooms-container .img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singlerooms-container .img .img1{
    width: 100%;
}
.singlerooms-container  .img .img1 img{
    width: 100%;
}
.singlerooms-container .img .img2{
    width: 100%;
}
.singlerooms-container  .img .img2 .first-img{
    display: flex;
    align-items: center;
    width: 93%;
}
.singlerooms-container .img .img2 .first-img img{
    width: 20%;
    padding: 5px;
}
.singlerooms-container .mainsingle-container .description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singlerooms-container .mainsingle-container .description .desc1-container{
    width: 70%;
    display: flex;
}
.singlerooms-container .mainsingle-container .description .desc1-container .desc1-part1{
    width: 25%;
    border: 2px solid rgb(183, 177, 177);
    border-radius: 4px;
    margin: 5px;
}
.singlerooms-container .mainsingle-container .description .desc1-container .desc1-part1 h6{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #afb4bf;
    font-size: 15px;
}
.singlerooms-container .mainsingle-container .description .desc1-container .desc1-part1 span{
  color: black;
  font-size: 20px;
}
.singlerooms-container .mainsingle-container .description .desc2-container{
    width: 70%;
}
.singlerooms-container .mainsingle-container .description .desc2-container p{
        line-height: 1.7;
        color: #636a76;
        font-size: 20px;
        font-weight: 600;
    }
.singlerooms-container .mainsingle-container .description .desc2-container ul{
    line-height: 1.7;
    color: #636a76;
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
}
.singlerooms-container .mainsingle-container .description .desc2-container ul li{
    list-style: none;
}
.singlerooms-container .mainsingle-container .description .desc3-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.singlerooms-container .mainsingle-container .description .desc3-container .part1{
  display: flex;
  align-items: center;
}
.singlerooms-container .mainsingle-container .description .desc3-container .part2{
    display: flex;
    align-items: center;
  }
.singlerooms-container .mainsingle-container .description .desc3-container .part1 .first{
    display: flex;
    align-items: center;
    margin: 0px 30px;
}
.singlerooms-container .mainsingle-container .description .desc3-container .part2 .first{
    display: flex;
    align-items: center;
    margin: 10px 40px;
}
.singlerooms-container .mainsingle-container .description .desc4-container{
    width: 70%;
}
.singlerooms-container .mainsingle-container .description .desc4-container.apply{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 40%;
    padding: 20px;
}

.singlerooms-container .mainsingle-container .description .desc4-container .apply .info .think{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    box-shadow: 2px 2px 2px 2px rgb(144, 142, 142);
    padding: 10px;
    margin-left: 0px;
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info .img img{
    border-radius: 100%;
    
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info .img{
    display: flex;
    align-items: center;
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info h3{
 margin-top: 0px;
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info p{
    margin-top: 0px;
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info h4{
    margin-top: 0px;
}

.singlerooms-container .mainsingle-container .description .desc4-container .apply .info{
    width: 90%;
    color: rgb(96, 93, 93);
}
.singlerooms-container .mainsingle-container .description .desc4-container .apply .info h3{
    color: rgb(40, 185, 136);
}
.singlerooms-container .button-single{
  width: 20%;
  border: 4px solid black;
  padding: 20px;
}
.singlerooms-container .button-single button{
 background-color: #e70b53;
 width: 270px;
 color: white;
 border: none;
 font-size: 30px;
 font-weight: bold;
 cursor: pointer;
 border-radius: 6px;
}
.singlerooms-container .button-single button:hover{
    background-color: orangered;
}
.singlerooms-container .button-single .date{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 80px;
    box-shadow: 2px 2px 2px rgba(21, 20, 20, 0.5);
    box-shadow: 0px 0px 2px 2px rgba(21, 20, 20, 0.5);


}
.singlerooms-container .button-single .date .entry{
    margin: 0px 10px 0px 0px;
    font-weight: bold;
}
.singlerooms-container .button-single .date .exit{
    font-weight: bold;
}
.singlerooms-container .button-single .price-alltax{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.singlerooms-container .button-single .price-alltax .savings{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singlerooms-container .button-single .price-alltax .savings .des1{
    font-weight: bold;
    font-size: 20px;
}
.singlerooms-container .button-single .price-alltax .savings .amo1{
    font-weight: bold;
    font-size: 20px;
}
.singlerooms-container .button-single .price-alltax .price .des2{
    font-weight: bold;
    font-size: 20px;
}
.singlerooms-container .button-single .price-alltax .price .amo2{
    font-weight: bold;
    font-size: 20px;
}
.singlerooms-container .button-single .price-alltax .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.singlerooms-container .button-single .capacity{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .singlerooms-container .button-single .capacity .cap1{
    font-weight: bold;
    font-size: 20px;
}
.singlerooms-container .button-single .capacity .val1{
    font-weight: bold;
    font-size: 20px;
}