.card-container{
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container .main-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    box-shadow: 2px 2px 2px 2px rgb(201, 198, 198);
    padding: 20px 0px;
}
/* .card-container .main-container .img{
    margin-right: 50px;
} */
.card-container .main-container .img img{
    width: 90%;
    height: 90%;
}
.card-container .main-container .description{
    width: 40%;
}
.card-container .main-container .description  h2{
        font-size: 40px;
        display: block;
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: 500;
}
.card-container .main-container .description .paisa h4{
    color: #e70b53;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 500;
}
.card-container .main-container .description .middle{
    display: flex;
    flex-direction: row;
}
.card-container .main-container .description .middle .size h3{
    display: flex;
    flex-direction: column;
    color: #afb4bf;
    font-weight: 500;
}
.card-container .main-container .description .middle .size h3 span{
    color: black;
}
.card-container .main-container .description .middle .bed h3
{
    display: flex;
    flex-direction: column;
    color: #afb4bf;
    font-weight: 500;
}
.card-container .main-container .description .middle .bed h3 span{
    color: black;
}
.card-container .main-container .description .footer h3{
    color: #e70b53;
    font-weight: 500;
}