.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #1cc3b2;
}