.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  & .top-header-area{
    background-color: hsl(203, 59%, 14%);
    display: flex;
    flex-direction: row;
    
    color: #fff;

    & .phemail{
      margin-left: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      & .phone-no{
        padding-right: 10px;
        transition: color 0.3s ease;
      }
      & .e-mail{
        padding-left: 10px;
        transition: color 0.3s ease;
      }
      & .e-mail:hover{
        color: #999;
      }
      & .phone-no:hover{
        color: #999;
      }
    }
    & .socialmedia{
      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      & li {
        float: left;
      }
      & li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
    }

    & .register-login-sec{
      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      & li {
        background-color: #1cc3b2;
        float: left;
        padding:10px;
        transition: background-color 0.6s ease;
      }
      
    }
  }
  & .main-header-area{
    background-color: white;
    display:flex;
    flex-direction: row;
    
    
    & .logo-sec{
      padding: 10px;
      margin-left: 5rem;
      margin-right: 5rem;
      display:flex;
      justify-content: center;
      align-items: center;
      & img{
        width: 10rem;
      }
    }
    & .nav-sec{
      padding: 10px;
      margin-right: 50px;
      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
      }
      
      & li {
        float: left;
      }
      & li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      /* Change the link color on hover */
      & li a:hover {
        color: #999;
      }
    }

    & .register-login-sec{
      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      & li {
        background-color: #1cc3b2;
        float: left;
        padding:10px;
        transition: background-color 0.6s ease;
      }
      & li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: 600;
        font-size: large;
      }
      /* Change the link color on hover */
      & li:hover {
        background-color: #2a303b;
      }
    }
  }
}