.about-container .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  padding: 80px 0;
}
.about-container .main-container .about {
  display: flex;
  align-items: center;
}
.about-container .main-container .about .desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-container .main-container .about .desc h1 {
  font-size: 2rem;
  color: #e70b53;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-container .main-container .about .desc h2 {
  width: 90%;
  font-size: 45px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.about-container .main-container .about .desc p {
  width: 90%;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #636a76;
}
.about-container .main-container .about .img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 550px;
  padding: 4px;
}
.about-container .main-container .about .img .img-part1 img {
  width: 100%;
  border-radius: 4px;
}
.about-container .main-container .about .img .img-part2 img {
  width: 100%;
  border-radius: 4px;
}
.about-container .main-container .about .img .img-part1 {
  width: 50%;
  padding: 0px 4px;
}
.about-container .main-container .about .img .img-part2 {
  width: 45.5%;
  padding: 0px 4px;
}
.about-container .main-container .about .img img {
  transition-property: transform;
  transition-duration: 1.2s;
}
.about-container .main-container .about .img img:hover {
  overflow-clip-margin: content-box;
  transition-duration: 1.2s;
  transform: scale(1.1, 1.1);
}
.about-container .main-container .about .img .img-part1 .first {
  overflow: hidden;
  margin-bottom: 4px;
}
.about-container .main-container .about .img .img-part1 .second {
  overflow: hidden;
}
.about-container .main-container .about .img .img-part2 .third {
  overflow: hidden;
}
@media (max-width: 1015px) {
  .about-container .main-container .about {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .about-container .main-container .about .desc {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .about-container .main-container .about .img {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .about-container .main-container .about .img .img-part1 {
    width: 100%;
  }
  .about-container .main-container .about .img .img-part2 {
    width: 100%;
  }
}
